<app-header title="List-Reorder"></app-header>
<ion-content>

    <ion-list>
        <ion-reorder-group [disabled]="false" (ionItemReorder)="reorder($event)">
            <ion-item *ngFor="let p of characters">
                <ion-label>{{p}}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>
        </ion-reorder-group>
    </ion-list>
    <ion-button (click)="onClick()" expand="full">
        Save
    </ion-button>
</ion-content>