<ion-header no-border translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary" text-capitalize>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>