<app-header [title]="title || 'Alert Page'"></app-header>

<ion-content padding>
    <ion-button color="primary" (click)="presentAlert()" expand="full">Alert</ion-button>
    <ion-button color="primary" (click)="presentAlertPrompt()" expand="full">Mostrar Input</ion-button>
</ion-content>