// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    /** **/
    --ion-color-youtube: #ff0011;
    --ion-color-youtube-rgb: 255, 0, 17;
    --ion-color-youtube-contrast: #ffffff;
    --ion-color-youtube-contrast-rgb: 255, 255, 255;
    --ion-color-youtube-shade: #e0000f;
    --ion-color-youtube-tint: #ff1a29;
    /** **/
    --ion-color-google: #ff0011;
    --ion-color-google-rgb: 255, 0, 17;
    --ion-color-google-contrast: #ffffff;
    --ion-color-google-contrast-rgb: 255, 255, 255;
    --ion-color-google-shade: #e0000f;
    --ion-color-google-tint: #ff1a29;
    /** **/
    --ion-color-twitter: #5bbcff;
    --ion-color-twitter-rgb: 91, 188, 255;
    --ion-color-twitter-contrast: white;
    --ion-color-twitter-contrast-rgb: 0, 0, 0;
    --ion-color-twitter-shade: #50a5e0;
    --ion-color-twitter-tint: #6bc3ff;
    /** **/
    --ion-color-vimeo: #5bbcff;
    --ion-color-vimeo-rgb: 91, 188, 255;
    --ion-color-vimeo-contrast: white;
    --ion-color-vimeo-contrast-rgb: 0, 0, 0;
    --ion-color-vimeo-shade: #50a5e0;
    --ion-color-vimeo-tint: #6bc3ff;
    /** **/
    --ion-color-facebook: #1f00d1;
    --ion-color-facebook-rgb: 31, 0, 209;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255, 255, 255;
    --ion-color-facebook-shade: #1b00b8;
    --ion-color-facebook-tint: #351ad6;
    /** **/
    --ion-color-github: #000000;
    --ion-color-github-rgb: 0, 0, 0;
    --ion-color-github-contrast: #ffffff;
    --ion-color-github-contrast-rgb: 255, 255, 255;
    --ion-color-github-shade: #000000;
    --ion-color-github-tint: #1a1a1a;
}

.ion-color-youtube {
    --ion-color-base: var(--ion-color-youtube) !important;
    --ion-color-base-rgb: var(--ion-color-youtube-rgb) !important;
    --ion-color-contrast: var(--ion-color-youtube-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-youtube-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-youtube-shade) !important;
    --ion-color-tint: var(--ion-color-youtube-tint) !important;
}

.ion-color-google {
    --ion-color-base: var(--ion-color-google) !important;
    --ion-color-base-rgb: var(--ion-color-google-rgb) !important;
    --ion-color-contrast: var(--ion-color-google-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-google-shade) !important;
    --ion-color-tint: var(--ion-color-google-tint) !important;
}

.ion-color-twitter {
    --ion-color-base: var(--ion-color-twitter) !important;
    --ion-color-base-rgb: var(--ion-color-twitter-rgb) !important;
    --ion-color-contrast: var(--ion-color-twitter-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-twitter-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-twitter-shade) !important;
    --ion-color-tint: var(--ion-color-twitter-tint) !important;
}

.ion-color-vimeo {
    --ion-color-base: var(--ion-color-vimeo) !important;
    --ion-color-base-rgb: var(--ion-color-vimeo-rgb) !important;
    --ion-color-contrast: var(--ion-color-vimeo-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-vimeo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-vimeo-shade) !important;
    --ion-color-tint: var(--ion-color-vimeo-tint) !important;
}

.ion-color-facebook {
    --ion-color-base: var(--ion-color-facebook) !important;
    --ion-color-base-rgb: var(--ion-color-facebook-rgb) !important;
    --ion-color-contrast: var(--ion-color-facebook-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-facebook-shade) !important;
    --ion-color-tint: var(--ion-color-facebook-tint) !important;
}

.ion-color-github {
    --ion-color-base: var(--ion-color-github) !important;
    --ion-color-base-rgb: var(--ion-color-github-rgb) !important;
    --ion-color-contrast: var(--ion-color-github-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-github-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-github-shade) !important;
    --ion-color-tint: var(--ion-color-github-tint) !important;
}