<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" color="primary" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Buttons Page</ion-title>
        <ion-buttons slot=end>
            <ion-button color="danger">
                <ion-icon name="heart"></ion-icon>
            </ion-button>
            <ion-button color="warning">
                <ion-icon name="star"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- botones normales -->
    <ion-button size="small" expand="full" color="primary">Small</ion-button>
    <ion-button size="default" expand="full" color="primary">Default</ion-button>
    <ion-button size="large" expand="full" color="primary">Large</ion-button>

    <!-- anchor -->
    <ion-button class="top-20" expand="full" routerLink="/avatar" color="primary">
        Avatar
    </ion-button>

    <!-- grid -->
    <ion-row>
        <ion-col>
            <ion-button class="top-20" expand="full" routerLink="/alert" color="primary">
                Alert
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="top-20" expand="full" routerLink="/action-sheet" color="primary">
                Action-Sheet
            </ion-button>
        </ion-col>
    </ion-row>

    <!-- Fill -->
    <ion-button color="primary" class="top-20" fill="clear">Clear</ion-button>
    <ion-button color="primary" class="top-20" fill="outline">Outline</ion-button>
    <ion-button color="primary" class="top-20" fill="solid">Solid</ion-button>
</ion-content>