<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title color="primary">Searchbar</ion-title>
    </ion-toolbar>
    <ion-searchbar animated placeholder="Filter Album" (ionChange)="onSearchChange($event)" debounce="250"></ion-searchbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let a of albums | filter: searchText: 'title'">
            {{ a.title }}
        </ion-item>
    </ion-list>
</ion-content>