<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="primary">Components</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let c of components | async" [routerLink]="c.redirecTo" detail>
            <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
            <ion-label>{{c.name}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>