<app-header title="Modal"></app-header>
<ion-content padding>
    <ion-button expand="full" (click)="openModal()">
        Open Modal
    </ion-button>

    <p>
        Cristopher - Colombia
    </p>
</ion-content>