<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Popover</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showPop($event)">
                <ion-icon color="primary" slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="full" (click)="showPop($event)">
        <ion-icon slot="start" name="contact"></ion-icon>
        <ion-label>Popover</ion-label>
    </ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" (click)="showPop($event)">
            <ion-button>
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Popover</ion-title>
    </ion-toolbar>
</ion-footer>