<app-header title="Cards Page"></app-header>

<ion-content padding>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="dark">
        <ion-item color="primary">
            <ion-icon slot="start" name="pin" color="light"></ion-icon>
            <ion-label>Marker</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque totam doloribus, ad soluta, exercitationem animi perspiciatis, sequi recusandae inventore molestiae aliquam fuga aliquid! Rerum architecto molestias minus tempore, soluta veniam?
        </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga earum similique sequi sed nulla recusandae officia, iste eum. Ab maxime id porro? Hic quam alias similique praesentium quo. In, nisi.
        </ion-card-content>
    </ion-card>
</ion-content>