<app-header title="Inputs"></app-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Name: {{ name || 'No Name' }} </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
    </ion-list>

    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
        <ion-list>
            <ion-list-header>
                <ion-label>Form template : valid {{ formulario.valid }}</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="usuario.email" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="password" [(ngModel)]="usuario.password" required></ion-input>
            </ion-item>
        </ion-list>
        <ion-button expand="full" color="primary" type="submit" [disabled]="formulario.invalid">Submit
        </ion-button>
    </form>
</ion-content>