<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar>
            <ion-title color="primary">Side Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle *ngFor="let c of componentes | async">
                <ion-item [routerLink]="c.redirecTo">
                    <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
                    <ion-label>{{c.name}}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>