<ion-header no-border>
    <ion-toolbar>
        <ion-title>{{name}} - {{country}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="full" color="primary" (click)="exitArgs()">
        Exit whit arguments
    </ion-button>
    <ion-button expand="full" color="danger" (click)="exitNoArgs()">
        Exit whitout arguments
    </ion-button>
</ion-content>